#ruigehond006_wrap {
    position: fixed;
    left: 0;
    display: block;
    width: 100%;
    margin: 0; /* this is important for positioning */
    -webkit-transition: height .4s;
    transition: height .4s;
    height: 0;
    background-color: rgba(255, 255, 255, .2);
    z-index: 10000; /* omg really? <- needed for Edge... */
}
html[dir=rtl] #ruigehond006_wrap {
    text-align: right;
}
#ruigehond006_bar {
    width: 0;
    height: 100%;
    background-color: transparent;
}