#ruigehond006_wrap {
    z-index: 10001; /* omg really? Some themes need this */
    position: fixed;
    display: block;
    left: 0;
    width: 100%;
    margin: 0; /* this is important for positioning */
    overflow: visible;
}
#ruigehond006_inner {
    position: absolute;
    height: 0;
    width: inherit;
    background-color: rgba(255, 255, 255, .2);
    -webkit-transition: height .4s;
    transition: height .4s;
}
html[dir=rtl] #ruigehond006_wrap {
    text-align: right;
}
#ruigehond006_bar {
    width: 0;
    height: 100%;
    background-color: transparent;
}